.smallHead{
    margin-top: 15px;
}

.smallHead-widget {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.smallHead .container {
    background-color: white;
    padding-left: 0;

}

.smallHead-widget a {
    text-decoration: none;
    color: grey;
    border-right: 1px solid grey;
    padding: 0px 5px;
}

.smallHead-widget span {
    color: grey;
    padding-left: 5px;
}


/* products - content */

.products-page{
    margin-top: 30px;
}
.products .col-3 {
    background-color: white;
}
.products .col-9{
    background-color: white;
}
/* products - categories */
.products-Catelog-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.products-Catelog-title span {
    font-weight: 600;
    text-transform: uppercase;
}

.products-Catelog-widget a {
    text-decoration: none;
    color: rgb(72, 72, 72);
}

.products-Catelog-widget ul {
    padding-left: 0;
    list-style-type: none;
}

.products-Catelog-widget ul li {
    margin-bottom: 10px;
}

.products-Catelog-widget a {
    transition: 0.7s ease;
}

.products-Catelog-widget a:hover {
    color: #00ABC5;
    transition: 0.7s ease;
}

/* products - blog */
.products-blog-left {
    margin-top: 50px;
    background-color: #F3F6FB;
    border-radius: 15px;
}

.products-blog-content {
    padding-top: 20px;
}

.products-blog-title {
    font-size: 1.5rem;
    padding: 30px;
}

.products-box-title h5 {
    transition: 0.7s ease;
    cursor: pointer;
}

.products-box-title h5:hover {
    color: #00ABC5;
    transition: 0.7s ease;
}

.products-blog-title-shopNow a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.products-blog-title-shopNow a:hover {
    color: #00ABC5;
    transition: 0.7s ease;
}

.products-blog-title-shopNow strong {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.products-blog-title-shopNow span {
    margin-top: -2px;
}

.products-blog-img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.products-blog-img {
    transition: 0.3s ease;
    padding-bottom: 10px;
}

.products-blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.products-blog-box {
    margin-bottom: 30px;
}

.products-box-title span {
    font-weight: 600;
    font-size: 0.9rem;
}

.products-page .products-img img{
    object-fit: contain;
}
.products-page .products-price{
    color: red;
}
/* products - box  */
.products-box-right {
    margin-top: 15px;
}

.products-box-title h5 {
    font-size: 1.8rem;
}
.products-page .dots-container{
    margin-bottom: 15px;
}